<!--suppress HtmlFormInputWithoutLabel -->
<nav>
    <div class="nav-container">
        <div class="nav-left">
            <div class="logo">
                {{ settings.companyName }}
            </div>
            <div class="search">
                <input type="text" placeholder="Rechercher ...">
            </div>
        </div>
        <div class="user">
            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages.unsplash.com%2Fphoto-1535713875002-d1d0cf377fde%3Fcrop%3Dentropy%26cs%3Dtinysrgb%26fit%3Dmax%26fm%3Djpg%26ixid%3DMnwxMjA3fDB8MXxzZWFyY2h8NHx8bWFsZSUyMHByb2ZpbGV8fDB8fHx8MTYyNTY2NzI4OQ%26ixlib%3Drb-1.2.1%26q%3D80%26w%3D1080&f=1&nofb=1&ipt=af7bff15e2fa56bb68ce65904a26ebfc2dc737c7376fcc05afe825bc72ff8b8e&ipo=images" class="profile-picture" alt="Profile picture">
            <div class="username" id="toogle-menu">
                <span>Maxime Opin</span>
            </div>
            <div class="username-popup">
                <a href="#">Mon profil</a>
                <a href="#">Déconnexion</a>
            </div>
        </div>
    </div>
</nav>